// LIGHT theme
$color-background-light: #f6f8fa;
$color-primary-light: #409eff;
$color-text-light: #444;
$color-line-light: #d0d7de;
$header-bg-color-light: #24292f;
$box-bg-light: #fff;

// DARK theme
$color-background-dark: #0d1117;
$color-primary-dark: #409eff;
$color-text-dark: #fff;
$color-line-dark: #30363d;
$header-bg-color-dark: #161b22;
$box-bg-dark: #161b22;
